:root {
  --bs-primary-rgb: 0, 156, 137;
  --bs-primary: #009c89;

  --bs-font-sans-serif:
    Figtree, system-ui, -apple-system, "segoe UI", "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--bs-primary);
}

.dropdown-menu a:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--bs-primary);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--bs-primary-bg-subtle);
}

h1 {
  color: var(--bs-primary);
}

.form-control {
  color: var(--bs-gray-500);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: rgb(var(--bs-primary-rgb), 0.75);
  --bs-btn-hover-border-color: rgb(var(--bs-primary-rgb), 0.75);
}
