:root {
  --bs-primary-rgb: 0, 156, 137;
  --bs-primary: #009C89;
  --bs-primary-bg-subtle: #00D6BD
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--bs-primary);
}

.dropdown-menu a:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--bs-primary);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--bs-primary-bg-subtle);
}

h1 {
  color: var(--bs-primary);
}