:root {
  --bs-primary-rgb: 0, 156, 137;
  --bs-primary: #009c89;
  --bs-primary-bg-subtle: #00d6bd;
  --bs-font-sans-serif: Figtree, system-ui, -apple-system, "segoe UI", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--bs-primary);
}

.dropdown-menu a:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--bs-primary);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--bs-primary-bg-subtle);
}

h1 {
  color: var(--bs-primary);
}