:root {
  /* colors are HSL */
  --bulma-primary-h: 173deg;
  --bulma-primary-l: 31%;
}

/*
Navbar Customizations
*/
.navbar {
  --bulma-navbar-item-img-max-height: 10rem;
  --bulma-link: var(--bulma-navbar-item-color);
}

.navbar-item img {
  margin: 1rem;
}

.navbar-dropdown a.navbar-item:hover {
  background-color: var(--bulma-primary);
}

/* Burger menu activation */
#menu-switch {
  display: none;
}

#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(2) {
  opacity: 0;
}

#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

#menu-switch:checked ~ .navbar-menu {
  display: block;
}
